# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv310/

# Environment
.env
.env.local
.env.test

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# IDE
.idea/
.vscode/

#Tests
pyproject.toml

# OS
.DS_Store
Thumbs.db1

*.xlsx
*.xls
*.csv
*.json