:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #141414;
  background-color: #f7f8fa;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: inherit;
}

#app {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

